* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
nav {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(2, 2, 44);
    color: white;
    border-top: white 2px solid;
}
nav div {
    width: 80%;
    margin: 0 auto;
}
main {
    background-image: url(background.jpg);
    margin-bottom: 0px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 40px;
}
h2,
h3 {
    font-family: 'Dancing Script', cursive;
}
.sec1 {
    background-color: lightgray;
}
article {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.withForm {
    display: flex;
    flex-flow: nowrap column;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
}
select {
    width: 90%;
}
form {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
label {
    display: block;
    margin: 10px 0px;
    text-align: left;
    padding-left: 11px;
}
.catPhoto {
    width: 80%;
    height: 70%;
    flex-basis: 60%;
    padding: 30px;
    display: flex;
    align-self: flex-start;
    align-content: center;
}
input {
    width: 90%;
    color: white;
    text-align: center;
    background-color: green;
    margin: 10px 0px;
}
.sec2 {
    background-color: grey;
    padding: 30px 0px;
    margin-bottom: 0px;
}
.logo {
    width: 15%;
    height: 15%;
}
footer {
    background-color: rgb(2, 2, 44);
    color: white;
    margin: 0px;
    text-align: right;
}
@media screen and (max-width: 576px) {
    article {
        flex-direction: column;
    }
    .catPhoto {
        width: 100%;
        height: 100%;
    }
    .logo {
        width: 50%;
        height: 50%;
        display: flex;
        align-self: flex-start;
        
    }
}
