.first {
    border: red solid 2px;
    width: 100%-30%;
    height: 20%;
}
.second {
    border: blue solid 2px;
    width: 100%/2 + 10%;
    height: 100%-30%;
}
.third {
    border: green solid 2px;
    width: (100%/2)/2;
    height: 500px;
}