* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 90%;
    min-width: 250px;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
    display: block;
    margin: auto;
}
.imgForArticle {
    width: 100%;
}
h1 {
    text-align: center;
    padding-bottom: 30px;
}
li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid lightgray;
    
}
a {
    text-decoration: none;
    color: black;
}
li:hover {
    background-color: rgb(85, 149, 223);
}
a:hover {
    color: white;
}
nav {
    border: lightgray 1px solid;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
ul {
    margin: 0;
    padding: 0;
}
header {
    margin-bottom: 30px;
}
article {
    border: 1px lightgray solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
    h1 {
        text-align: left;
    }
    li {
        display: inline;
        border: none;
    }
    header {
        position: relative;
        width: 100%;
        padding-top: 40px;
        padding-left: 5px;
      }
  
    nav {
        position: absolute;
        top: 2%;
        right: 5%;
        text-align: right;
        border: none;
    }

    a {
        color: rgb(85, 149, 223);
    }
    article {
        display: flex;
    }
    .imgForArticle {
        width: 30%;
    }
    p {
        display: flex;
        text-align: center;
        align-items: center;
        width: 68%;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        text-align: left;
    }
    li {
        display: inline;
        border: none;
    }
    header {
        position: relative;
        width: 100%;
        padding-top: 40px;
        padding-left: 5px;
      }
  
    nav {
        position: absolute;
        top: 2%;
        right: 5%;
        border: none;
    }
  
    img {
        display: table-footer-group;
    }

    a {
        color: rgb(85, 149, 223);
    }
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    article {
        border: none;
        flex-wrap: wrap;
        width: 30%;
    }
    .imgForArticle {
        width: 100%;
    }
    p {
        width: 100%;
        padding-top: 10px;
    }
}
    

